<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mapper.ValueMapper">
    <!--String id;
    String value;
    String text;
    int orderNo;
    /*String typeCode;*/
    //value表的最后一个字段typeCode是外键，是type表的主键code。利用ORM使用类进行映射
    Type type;-->

    <resultMap id="valueMap" type="com.powernode.beans.Value">
        <id property="id" column="id"/>
        <result property="value" column="value"/>
        <result property="text" column="text"/>
        <result property="orderNo" column="orderNo"/>
        <!--最后一个是外键-->
        <association property="type" javaType="com.powernode.beans.Type">
            <id property="code" column="code"/>
            <result property="name" column="name"/>
            <result property="description" column="description"/>
        </association>
    </resultMap>

    <!--查询的左边都是表中的字段名称，需要注意保持一致-->
    <select id="getAll" resultMap="valueMap">
        select
        v.id as id,
        v.value as value,
        v.text as text,
        v.orderNo as orderNo,

        t.code as code,
        t.name as name,
        t.description as description
        from tbl_dictionary_value as v ,tbl_dictionary_type as t
        where v.typeCode=t.code;
    </select>


    <insert id="save" >
        insert into tbl_dictionary_value
        (
        id,value,text,orderNo,typeCode
        )
        values
        (
        #{id},
        #{value},
        #{text},
        #{orderNo},
        #{type.code}
        )
    </insert>


    <select id="getById" resultMap="valueMap">
        select
        v.id as id,
        v.value as value,
        v.text as text,
        v.orderNo as orderNo,

        t.code as code,
        t.name as name,
        t.description as description
        from tbl_dictionary_value as v ,tbl_dictionary_type as t
        where v.typeCode=t.code and v.id=#{id};
    </select>


    <update id="edit">
        update tbl_dictionary_value
        set
        value=#{value},
        text=#{text},
        value=#{value},
        orderNo=#{orderNo},
        typeCode=#{type.code}
        where
        id=#{id}
    </update>

    <delete id="delete" >
        delete from tbl_dictionary_value
        where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>